<div class="card my-4 card-accueil">
  <h5 class="card-header text-white turquoise rtl">طرح سؤال</h5>
  <div class="card-body No_space">
    <div class="row">
      <div class="col-lg-12">
        <table class="table table-hover No_space rtl">
            <tr>
              <td class="td">
                <a href="#" class="ho">
                <i class="fa fa-tags " aria-hidden="true"></i> دروس عبر الإنترنت    </a></td>
            </tr>
            <tr>
              <td [routerLink]="['/questrep']"  class="td" >
                <a [routerLink]="['/questrep']"  class="text-primary ho">
                <i class="fa fa-comments" aria-hidden="true"></i> أسئلة - إجابات</a></td>
            </tr>
        </table>
      </div>
    </div>
  </div>
</div>