
<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container top_marg">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-9 colonne1">

    <app-bouton-home></app-bouton-home>

      <!-- Blog Post -->
      <div class="mb-4" id="accueil">
        
       <div class="box_border_top_style"> <!-- fatima -->

         <div class="card-title matiere turquoise rtl bg_compte_title"><i class="icon-1 fa fa-address-card"></i> حسابي  </div> 

         <div>
          <div class="accordion">
              <div class="accordion__item"  class="info_compte">
                <a class="accordion__title " (click)="toggle_open_accordion('info_compte')" id="info_compte" href="javascript:void(0)">معلومات الحساب
                <div class="bmenu x7"><span class="btop"></span><span class="bmid"></span><span class="bbot"></span></div>
                </a>
                <div class="accordion__content">

                  <div style="border: 1px solid silver;border-radius: 5px;background-color:#fbfcfc;padding: 10px;">
                    <table class="info_compte_table">
                        <tr>
                          <td class="lign_hight" >إسم المستخدم</td>
                           <td class="rep"><strong>{{LoginName}}</strong></td>
                          <td><button class="btn btn_filter" (click)="Open_modal_change_user_name()" >تغيير إسم المستخدم</button></td>
                          <td><button class="btn btn_filter" (click)="Open_modal_change_user_password()">تغيير كلمة المرور</button></td>
                        </tr>
                    </table>
                  </div>
                  
                </div>
              </div>
              <div class="accordion__item"  class="info_perso">
                <a class="accordion__title" (click)="toggle_open_accordion('info_perso')" id="info_perso" href="javascript:void(0)">معلومات خاصة 
                <div class="bmenu x7"><span class="btop"></span><span class="bmid"></span><span class="bbot"></span></div>
                </a>
                <div class="accordion__content">
                  <div class="container row">
                    <div class="col-md-auto forme" style="border: 1px solid silver;border-radius: 5px;background-color:#fbfcfc;">
                      <table class="table_info">
                        <tr>
                          <td class="lign_hight" style="width: 85px;"> الاسم</td>
                          <td colspan="2" class="rep"><span style="margin-left:10px;">:</span> <label for="" class="lign_hight">{{ profile.prenom_user }}</label></td>
                        </tr>
                        <tr>
                          <td class="lign_hight"> الاسم العائلي</td>
                          <td colspan="2" class="rep"><span style="margin-left:10px;">:</span> <label for="" class="lign_hight">{{ profile.nom_user }}</label></td>
                        </tr>
                        <tr>
                          <td class="lign_hight"> البريد الإلكتروني</td>
                          <td class="rep" ><span  style="margin-left:10px;">:</span> <label for="">{{ profile.email_user }}</label> </td>
                          <td><input type="submit" class="btn btn_filter" (click)="Open_modal_change_user_email()" value="تغير"></td>
                        </tr>
                        <tr>
                          <td class="lign_hight"> المستوى</td>
                          <td colspan="2" class="rep"><span style="margin-left:10px;">:</span><label class="lign_hight">{{ profile.libelle_niveau }}</label></td>
                        </tr>
                        <tr>
                          <td class="lign_hight"> الشعبة</td>
                          <td colspan="2" class="rep"><span style="margin-left:10px;">:</span><label class="lign_hight">{{ profile.nom_classe }}</label></td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-md-4 profile_div">
                        <br>
                          <div>
                            <img class="align_img" src="./assets/img/Avatar/{{avatar_src_img}}.png" alt="Avatar !">
                          </div>
                   </div>
                  </div>
                </div>
              </div>
              <div class="accordion__item"  class="services">
                <a class="accordion__title" (click)="toggle_open_accordion('services')" id="services" href="javascript:void(0)">خدمات 
                <div class="bmenu x7"><span class="btop"></span><span class="bmid"></span><span class="bbot"></span></div>
                </a>
                <div class="accordion__content font_16">
                  <div class="container div_style">
                      <span>  هل ترغب في تلقي الرسالة الإخبارية مجانًا ؟</span>
                      <span class="padding_10"></span>
                      <span>نعم : </span>
                      <input type="radio" name="lettre_information" value="oui">
                      <span class="padding_10"></span>
                      <span>لا : </span>
                      <input type="radio" name="lettre_information" value="non" checked>
                  </div>
                  <div class="container div_style">
                    <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا هل ترغب في تلقي الرسالة الإخبارية مجانًا </span>
                    <span class="padding_10"><br></span>
                    <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا , <a href="" >Cliquez ici</a>.</span><span class="padding_10"><br></span>
                    <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا </span><br>
                      <span> هل ترغب في تلقي الرسالة الإخبارية مجانًا ؟</span>
                      <span class="padding_10"></span>
                      <input type="radio" name="Question_jour" value="oui">
                      <span class="padding_10"></span>
                      <span> هل ترغب في تلقي الرسالة الإخبارية مجانًا ؟</span>
                      <span class="padding_10"></span>
                      <input type="radio" name="Question_jour" value="non" checked>
                  </div>
                  <div class="container div_style">
                      <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا هل ترغب في تلقي الرسالة الإخبارية مجانًا </span>
                      <span class="padding_10"><br></span>
                      <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا , <a href="" >En savoir plus</a>.</span><span class="padding_10"><br></span>
                      <span>هل ترغب في تلقي الرسالة الإخبارية مجانًا <br>
                        <span> هل ترغب في تلقي الرسالة الإخبارية مجانًا ؟</span><span class="padding_10"></span>
                        <input type="checkbox"><span class="padding_10"><br></span>
                        <span> هل ترغب في تلقي الرسالة الإخبارية مجانًا ؟</span><span class="padding_10"></span>
                        <input type="submit" value="مسح" class="btn btn_filter">
                      </span>
                    </div>
                    <input type="submit" class="btn btn_filter" value="حفظ التغييرات">
                </div>
              </div>
              </div>
        
      </div>








      </div>

      </div>

    </div>




    <!-- Sidebar Widgets Column -->


    
    <div class="col-md-3 colonne2">
      <!-- Notes -->
      <app-note></app-note>

      <!--=============================== partie SideBar Compte ===============================-->
     <div class="bg-white" style="border-radius: 37px 0 0 0;">
      <h5 class="card-header turquoise text-white rtl">حسابي</h5>
      <div class="card-body No_space ">
            <table class="table table-hover No_space ">
              <tbody class="rtl">
                <tr (click)="toggle_open_accordion('info_compte')" id="info_compte">
                  <td class="td" ><a class="ho" id="link" ><i class="fa fa-tags" aria-hidden="true"></i>  معلومات الحساب </a></td>
                </tr>
                <tr (click)="toggle_open_accordion('info_perso')" id="info_perso">
                    <td class="td" ><a class="ho" id="link" ><i class="fa fa-tags" aria-hidden="true"></i>  معلومات خاصة </a></td>
                  </tr>
                <tr (click)="toggle_open_accordion('services')" id="services">
                  <td class="td" ><a  class="ho" id="link" ><i class="fa fa-tags" aria-hidden="true"></i>خدمات  </a></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<app-footer></app-footer>





    <!--=============================== تغيير إسم المستخدم Modal =============================== -->
    <div id="modal_change_user_name" class="modal ">
      <div class="login-modal-content card animated" id="animate_Style_User">
        <div class="modal-header rtl">
          <h4 class="modal-title"> تغيير إسم المستخدم</h4>
        </div>
        
        <div class="modal-body paddingright_60">
          <table>
              <tr class="marg_botm_10">
                  <td><span aria-readonly="true"> <input type="text" class="login_input form-control ajust_table no_drop" value="{{LoginName}}" readonly></span></td>
                  <td><label for="" ><span class="marg_right_2">:</span> إسم الحالي</label></td>
                </tr>
                <tr>
                    <td><input type="text" class="login_input form-control ajust_table" id="input_login_name" value="{{ newPropositionLogin }}" placeholder="...إسم المستخدم" minlength="2" required #newLoginName></td>
                    <td> <label for=""><span>:</span> إسم الجديد</label> </td>
                </tr>
                <tr *ngIf="showProposition" >
                      <td><p class="text-success pointer" id="proposition" (click)="doProposition(propositionLogin)">{{ propositionLogin }}</p></td>
                      <td> <label for="" class="text-info"><span class="marg_black">:</span> اقتراح</label> </td>
                </tr>
          </table>
            <div class="container text-danger response_msg_style" *ngIf="msgExistName">!إختر إسماً أخر</div>
            <div class="container text-success response_msg_style" *ngIf="msgSuccessName">لقد تم تغير الإسم بنجاح</div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn_filter" (click)="Close_modal_change_user_name()">أغلق</button>
          <button type="button" class="btn btn_filter" (click)="change_login_name(newLoginName.value)" >حفظ التغييرات</button>
        </div>
      </div>
    </div>

    <!--=============================== تغيير كلمة المرور Modal =============================== -->
    <div id="modal_change_user_password" class="modal ">
      <div class="login-modal-content card animated" id="animate_Style_User_Password">
          <form>
          <div class="modal-header rtl">
            <h4 class="modal-title"> تغيير كلمة المرور</h4>
          </div>
          
          <div class="modal-body paddingright_60">
            <table>
                <tr class="marg_botm_10">
                    <td><span> <input autocomplete type="password" maxlength="5" class="login_input form-control ajust_table" placeholder="...كلمة المرور الحالية" #Oldpassword></span></td>
                    <td><label ><span class="marg_right_2">:</span> كلمة المرور الحالية</label></td>
                </tr>
                <tr>
                    <td><input autocomplete type="password" maxlength="5" class="login_input form-control ajust_table"  placeholder="...كلمة المرور الجديدة" #newpassword1></td>
                    <td> <label ><span>:</span> كلمة المرور الجديدة</label> </td>
                </tr>
                <tr>
                    <td><input autocomplete type="password" maxlength="5" class="login_input form-control ajust_table"  placeholder="...تأكيد كلمة المرور " #newpassword2></td>
                    <td> <label ><span>:</span> كلمة المرور الجديدة</label> </td>
                </tr>
            </table>
              <div class="container text-success response_msg_style" *ngIf="msgSuccessPwd">لقد تم تغير كلمة المرور بنجاح</div>
          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn_filter" (click)="Close_modal_change_user_password()">أغلق</button>
            <button type="button" class="btn btn_filter" (click)="checkpassword(Oldpassword.value,newpassword1.value,newpassword2.value)">حفظ التغييرات</button>
          </div>
        </form>
      </div>
    </div>


    <!--=============================== معلومات خاصة Modal =============================== -->
    <div id="modal_change_user_email" class="modal ">
      <div class="login-modal-content card animated" id="animate_Style_User_email">
        <div class="modal-header rtl">
          <h4 class="modal-title"> تغير البريد الإلكتروني</h4>
        </div>
        
        <div class="modal-body paddingright_60">
          <table>
              <tr>
                  <td><input type="email" class="login_input form-control ajust_table" placeholder="...البريد الالكتوني الجديد" autocomplete="additional-name" #newemail1 required></td>
                  <td> <label ><span>:</span>البريد الالكتوني الجديد</label> </td>
              </tr>
              <tr>
                  <td><input type="email" class="login_input form-control ajust_table" placeholder="...تأكيد الالكتوني الجديد " autocomplete="additional-name" #newemail2 required></td>
                  <td> <label ><span>:</span>تأكيد الالكتوني الجديد </label> </td>
              </tr>
              <tr *ngIf="msgSuccessemail" id="sendMsg" class="animated">
                <td colspan="2" class="text-success response_msg_style">
                     <i>{{emailsended}}</i>  : لقد تم إرسال رابط إلى هاد العنوان
                </td>
              </tr>
          </table>
            
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn_filter" (click)="Close_modal_change_user_email()">أغلق</button>
          <button type="button" class="btn btn_filter" (click)="checkemail(newemail1.value,newemail2.value)">حفظ التغييرات
              <div id="spenner" class="animated">
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
                  <div class="side"></div>
              </div>
          </button>
        </div>
      </div>
    </div>