<app-navbar></app-navbar>
<!-- Page Content -->
<div class="container top_marg">

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-9 colonne1">

      <app-bouton-home  [blocCode]="blocCode"  (bloc)="showSubBloc($event)" ></app-bouton-home>

      <!-- Blog Post -->
      <div class="mb-4" id="accueil">
        
       <div class="box_border_top_style"> <!-- fatima -->

         <div class="card-title matiere turquoise rtl"><i class="fas fa-video"></i> تمرين فيديو  </div>
         <div class="container">
           <h3 style="margin-top:10px;" class="text-info">{{coursVideosTitle}}</h3>
           <p style="border-bottom: 1px dotted silver;"></p>
           <div class="rtl">
            <div id="corrig_video" class="solution">
              <div style="text-align: center">
                <video class="videostyle" controls="controls" width="500">
                 <source src="./assets/videos/Video.mp4">
                </video>
              </div>
           </div>
            </div>
           <br>

         </div>


      </div>

      </div>

    </div>




    <!-- Sidebar Widgets Column -->


    
    <div class="col-md-3 colonne2">

        <box-sidebar template="coursvideo"></box-sidebar>

    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
<app-footer></app-footer>